/* This file extends bulma classes.
 * This adds some styling to existing bulma classes
 */
@import './variables.scss';

.notification {
  border-radius: 0 !important;
}

.is-danger {
  border: solid 2px $darkred;
}

.is-warning {
  border: solid 2px $gold;
}

.panel {
  background: white;
}

.navbar {
  background-color: transparent !important;
}

.field-label {
  flex-basis: 1em !important;
}

@media screen and (max-width: 768px) {
  .tabs ul {
    flex-direction: column;

    li {
      width: 100%;
    }
  }
}