/* This file extends bulma classes.
 * This adds some styling to existing bulma classes
 */
@import './variables.scss';

.is-danger {
  border: solid 2px $darkred;
}

.is-warning {
  border: solid 2px $gold;
}

.panel {
  background: white;
}

.navbar {
  background-color: transparent !important;
}