@import './variables.scss';

#landing-title {
  /* Desktop */
  @media screen and (min-width: 768px) {
    font-size: 4em;
  }

  /* Mobile */
  @media screen and (max-width: 769px) {
    font-size: 3em;
  }
}

#landing-subtitle {
  /* Desktop */
  @media screen and (min-width: 768px) {
    font-size: 2.5em;
  }

  /* Mobile */
  @media screen and (max-width: 769px) {
    font-size: 2em;
  }
}

#motivation {
  background: $smoke;
  border-radius: 0.5em;
  margin-bottom: 1em;

  p.citation {
    margin-bottom: 2em;
    margin-top: 2em;
  }
}