@import './variables.scss';

/* ********* */
/* NAVBAR    */
/* ********* */
.navbar {
  margin-left: auto;
  margin-right: auto;

  /* Desktop */
  @media screen and (min-width: 768px) {
    height: 6em;
    max-width: 65%;
  }

  /* Mobile */
  @media screen and (max-width: 769px) {
    height: 3em;
    padding-left: 5%;
    padding-right: 5%;
  }

  #brand {
    fill: $primary;
    /* Desktop */
    @media screen and (min-width: 768px) {
      width: 128px;
      height: 100%;
    }

    /* Mobile */
    @media screen and (max-width: 769px) {
      width: 80px;
      height: 14px;
    }
  }
  #logo {
    fill: $primary;
    width: 30px;
    height: 30px;
  }
}