@import './variables.scss';

/* ******* */
/* HTML    */
/* ******* */
html#dashboard {
  height: 100%;
  background: $smoke;
}
html body {
  font-family: OpenSans;
  h1 {
    font-family: RobotoSlab;
  }
  button, input, select {
    font-family: OpenSans;
  }
}

/* ********* */
/* CENTERING */
/* ********* */
/* Div containing vcentered div(s) (+ text) */
.has-vcentered-content {
  display: flex;
  align-items: center;
}

/* Div containing h + v centered div(s) (+ text) */
.has-hvcentered-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Div containing h centered text only*/
.has-hcentered-text {
  text-align:center;
}

/* Div containing v centered text only */
.has-vcentered-text {
  display:flex !important;
  align-items:center;
}

/* Div containing h + v centered text */
/* → use .has-div-hvcentered */

/* h centered div (itself) */
.is-hcentered {
  margin-left:auto;
  margin-right:auto;
}


/* *************** */
/* CONTAINER       */
/* *************** */
#main {
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.section {
  margin:auto;

  /* Desktop */
  @media screen and (min-width: 768px) {
    max-width: 65%;
  }

  /* Mobile */
  @media screen and (max-width: 768px) {
    max-width: 95%;
    padding-top: 1.5rem;
  }
}

.left-spaced {
  margin-left: 1em;
}
.left-spaced-text {
  margin-left: 0.5em;
}

.right-spaced {
  margin-right: 1em;
}
.right-spaced-text {
  margin-right: 0.5em;
}

p.error {
  color: red;
}

div.saved-collection {
  svg {
    fill: $saved;
    vertical-align: middle;
  }
  max-width: 90%;
  margin: auto;
  border: 1px solid $saved;
  border-radius: 0.2em;
}

.byproduct-title {
  margin-top: 0.75em !important;
  margin-bottom: 0.75em !important;
  background: $smoke;
  padding: 1em;

  .twemoji {
    vertical-align: bottom;
  }
  span.quantity {
    font-size: 0.8em;
  }
}

/* Grayed for optional note */
span.note {
  min-height: 17px;
  margin: 4px 0 2px;
  font-size: 12px;
  color: $anthracite_light;
}

/* ******************** */
/* COMMON FORMS         */
/* ******************** */
input.reasonable-width {
  max-width: 400px;
}
input.small-width {
  max-width: 5em;
}
input.date-width {
  max-width: 10em;
}
input.count {
  width: 3em;
  margin-left: 0.5em;
  margin-right: 0.5em;
  margin-top: auto;
  margin-bottom: auto;
  text-align: right;
}

.item-box {
  border: 1px solid $primary;
  border-radius: 0.1em;
  padding: 0.5em;

  /* Desktop */
  @media screen and (min-width: 768px) {
    max-width: 70%;
    margin: 1em;
  }

  /* Mobile */
  @media screen and (max-width: 768px) {
    margin-bottom: 1em;
  }

  .item-name {
    margin-top: 0.5em;
    margin-left: 0.5em;
    svg.twemoji {
      margin-right: 0.15em;
    }
  }
  .item-edit {
    height: 0.7em;
    margin-left: 0.2em;
  }
}

/* ******************** */
/* FONTAWESOME          */
/* ******************** */
.fa {
  width: 1em;
  height: 1em;
  cursor: pointer;
  vertical-align: middle;
}
.twemoji {
  width: 1em;
  height: 1em;
}
.chevron {
  cursor: pointer;
  vertical-align: middle;
  width: 0.5em;
  height: 0.5em;
}

/* Rotation */
.rotating {
  animation:spin 3s linear infinite;
}
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }


/* ******************** */
/* SVG                  */
/* ******************** */
.fill-primary {
  fill: $primary;
    &:hover {
      fill: $secondary;
    }
}
.no-hover {
  &:hover {
    fill:$anthracite;
  }
}
.fill-secondary {
  fill: $secondary;
}
.fill-anthracite {
  fill: $anthracite;
}
.fill-destroy {
  fill: #b91111;
}