@import './variables.scss';

/* ******* */
/* HTML    */
/* ******* */
html#dashboard {
  height: 100%;
  background: $smoke;
}

/* ********* */
/* CENTERING */
/* ********* */
/* Div containing vcentered div(s) (+ text) */
.has-vcentered-content {
  display: flex;
  align-items: center;
}

/* Div containing h + v centered div(s) (+ text) */
.has-hvcentered-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Div containing h centered text only*/
.has-hcentered-text {
  text-align:center;
}

/* Div containing v centered text only */
.has-vcentered-text {
  display:flex;
  align-items:center;
}

/* Div containing h + v centered text */
/* → use .has-div-hvcentered */

/* h centered div (itself) */
.is-hcentered {
  margin-left:auto;
  margin-right:auto;
}


/* *************** */
/* CONTAINER       */
/* *************** */
#main {
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.section {
  margin:auto;

  /* Desktop */
  @media screen and (min-width: 1152px) {
    max-width: 65%;
  }

  /* Mobile */
  @media screen and (max-width: 1153px) {
    max-width: 95%;
    padding-top: 1.5rem;
  }
}

.left-spaced {
  margin-left: 1em;
}

.right-spaced {
  margin-right: 1em;
}

p.error {
  color: red;
}

/* ******************** */
/* COMMON FORMS         */
/* ******************** */
input.reasonable-width {
  max-width: 400px;
}

/* ******************** */
/* FONTAWESOME          */
/* ******************** */
.fa {
  width: 1em;
  height: 1em;
}
.twemoji {
  width: 1em;
  height: 1em;
}

/* Rotation */
.rotating {
  animation:spin 3s linear infinite;
}
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }


/* ******************** */
/* SVG                  */
/* ******************** */
.fill-primary {
  fill: $primary;
  &:hover {
    fill: $secondary;
  }
}
.fill-secondary {
  fill: $secondary;
}